@import url("https://fonts.googleapis.com/css?family=Raleway:400,900");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  * a {
    text-decoration: none;
    color: inherit; }

body {
  margin: 0;
  width: 100%;
  font-family: "Raleway", sans-serif; }

.container {
  max-width: 1920px;
  margin: 0; }

.orange-edge, .green-round, .dashboard-5 button, .dashboard-4 button {
  background-color: #EE964B;
  color: white;
  font-weight: 900;
  font-size: 15pt;
  border: none;
  padding: 10px 30px;
  border: 0px; }

.orange-edge:hover, .green-round:hover, .dashboard-5 button:hover, .dashboard-4 button:hover {
  background-color: #E56D13;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

.green-round {
  background-color: #5AAA95;
  border-radius: 50px; }

.green-round:hover {
  background-color: #19647E;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

.orange-title {
  display: inline-block;
  background-color: white;
  color: #EE964B;
  margin: 30px;
  padding: 10px 20px;
  text-align: center; }

.navbar {
  z-index: 3;
  margin: 0 auto;
  padding: 20px 30px;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background: -webkit-linear-gradient(bottom, rgba(25, 100, 126, 0), #ff647e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(25, 100, 126, 0), #19647e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(25, 100, 126, 0), #19647e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(25, 100, 126, 0), #19647e);
  /* Standard syntax (must be last) */
  display: grid;
  grid-template-columns: 40% 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "headerleft headerright search"; }
  .navbar a {
    display: inline;
    float: right;
    vertical-align: middle;
    line-height: 20px;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; }
  .navbar a:hover {
    font-weight: 900;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; }
  .navbar a.active {
    color: #28AFB0; }

.form {
  width: 200px;
  overflow: hidden;
  height: 35px;
  padding: 2px 5px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; }
  .form input {
    font-size: 12pt;
    color: white;
    vertical-align: middle;
    border: none;
    width: 75%;
    padding: 0;
    background: Transparent !important; }
  .form button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    vertical-align: middle; }
    .form button img {
      width: 20px;
      display: inline;
      vertical-align: middle; }
    .form button :hover {
      cursor: pointer; }
  .form ::-webkit-input-placeholder {
    color: white; }
  .form :-moz-placeholder {
    color: white; }
  .form ::-moz-placeholder {
    color: white; }
  .form :-ms-input-placeholder {
    color: white; }

.logo {
  grid-area: headerleft;
  background-image: url("../images/logo_1.png");
  height: auto;
  background-repeat: no-repeat;
  background-size: auto; }

.big-logo img {
  width: 500px; }

.navbar-right {
  grid-area: headerright; }

.form {
  grid-area: search; }

#menuToggle {
  display: none;
  position: relative;
  float: right;
  top: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2; }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1; }

#mobileMenu {
  display: none;
  margin: 0 auto;
  padding: 95px 0px 0px 0px;
  position: fixed;
  width: 100%;
  background-color: Transparent;
  z-index: 2; }
  #mobileMenu button {
    width: 100%;
    border: none;
    cursor: pointer;
    background: #28AFB0;
    color: #FFF;
    margin: 0 auto;
    padding: 10px;
    font-size: 15pt;
    font-weight: 900;
    border-bottom: 2px solid white; }
  #mobileMenu button:hover {
    background: #19647E;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; }

#homeMenu {
  display: none;
  margin: 0 auto;
  position: fixed; }
  #homeMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #19647E; }
  #homeMenu li {
    float: left; }
    #homeMenu li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 15px;
      text-decoration: none; }
    #homeMenu li :hover {
      background: #28AFB0;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out; }
  #homeMenu #closeHomeMenu a:hover {
    background: #E56D13;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; }

@media screen and (max-width: 1024px) {
  .navbar {
    height: 95px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "headerleft headerright";
    background: #28AFB0; }

  #menuToggle {
    display: block; }

  .form {
    display: none; }

  .desktop-menu {
    display: none; }

  .logo {
    background-image: url("../images/PG-small-logo.png");
    background-size: auto; } }
.main {
  margin: 0;
  background-image: url("../images/girl-garden.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 10px;
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white; }
  .main h1 {
    font-size: 60pt;
    line-height: 70px;
    text-shadow: 5px 7px 40px #000000; }
  .main p {
    font-size: 20pt;
    line-height: 20px;
    text-shadow: 3px 4px 20px #000000; }

.dashboard-5 {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 1px;
  grid-template-areas: "tab-1 tab-2 tab-3 tab-4 tab-5" "featuredprojects featuredprojects featuredprojects featuredprojects schedule"; }
  .dashboard-5 button {
    font-size: 15pt;
    font-weight: 400;
    padding: 20px 30px; }
  .dashboard-5 .tab-1 {
    grid-area: tab-1; }
  .dashboard-5 .tab-2 {
    grid-area: tab-2; }
  .dashboard-5 .tab-3 {
    grid-area: tab-3; }
  .dashboard-5 .tab-4 {
    grid-area: tab-4; }
  .dashboard-5 .tab-5 {
    grid-area: tab-5; }

.schedule-tab {
  background-color: #5AAA95;
  text-align: center;
  color: white;
  padding: 10px 20px;
  grid-area: schedule; }
  .schedule-tab h1 {
    font-size: 15pt; }

.featured-projects, .favorite-projects, .my-projects, .my-groups {
  position: relative;
  width: 100%;
  padding: 40px 60px 0px 60px;
  grid-area: featuredprojects;
  grid-column-end: span 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  height: 100%; }

.favorite-projects {
  display: none;
  background-color: white; }

.non-user-projects {
  margin: auto;
  width: 100%;
  background-size: cover;
  text-align: center; }

.my-projects {
  display: none;
  background-color: white; }

.my-groups {
  display: none;
  background-color: white; }

.project, .mentor {
  width: 100%;
  border: 3px solid #5AAA95;
  margin: auto;
  color: #3F3e3F;
  text-align: left; }
  .project .fave-icon, .mentor .fave-icon {
    background-color: Transparent;
    border: none;
    padding: 0;
    background-image: url("../images/gray_fave.png");
    height: 40px;
    width: 40px; }
  .project .fave-icon:hover, .mentor .fave-icon:hover {
    cursor: pointer;
    background-image: url("../images/orange_fave.png");
    background-color: Transparent; }
  .project .fave-icon-active, .mentor .fave-icon-active {
    border: none;
    padding: 0;
    height: 40px;
    width: 40px;
    background-image: url("../images/orange_fave.png");
    background-color: Transparent; }
  .project .project-head, .mentor .project-head {
    margin: auto;
    padding: 20px 15px;
    color: white;
    font-size: 15pt;
    text-shadow: 3px 4px 20px #000000;
    background-size: cover; }
  .project .project-body, .mentor .project-body {
    margin: auto;
    padding: 20px 15px; }

.center {
  text-align: center;
  color: #19647E;
  font-size: 15pt;
  font-weight: 900; }

.featured-mentors {
  margin: auto;
  width: 100%;
  background-image: url("../images/stripes-bg-01.png");
  background-size: cover;
  text-align: center; }

.three-columns {
  margin: auto;
  padding: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px; }

.mentor {
  margin: auto 0;
  background-color: white;
  text-align: left;
  padding: 40px 10px; }

.mentor-picture {
  background-size: cover;
  border: 3px solid #5AAA95;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin: auto; }

.submit-container, .page-introduction {
  margin: 0;
  height: 100%;
  padding: 100px 40px;
  width: 100%;
  font-family: "Raleway", sans-serif; }
  .submit-container h1, .page-introduction h1 {
    font-size: 30pt;
    color: #19647E; }
  .submit-container h3, .page-introduction h3 {
    color: #28AFB0; }
  .submit-container p, .page-introduction p {
    font-size: 15pt;
    color: #19647E; }

.new-form {
  margin: 0 auto;
  width: 100%;
  max-width: 700px; }
  .new-form .image {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #dee0e0;
    border-radius: 100%; }

#submit-form {
  padding: 25px;
  margin: 0 auto; }
  #submit-form label {
    font-weight: 900;
    color: #19647E;
    display: block; }
  #submit-form fieldset {
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100; }
  #submit-form input[type="text"], #submit-form input[type="url"], #submit-form input[type="date"], #submit-form input[type="email"], #submit-form input[type="password"], #submit-form select {
    width: 100%;
    border: none !important;
    background: #e4f4f2;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 12pt;
    color: #19647E;
    height: 40px; }
  #submit-form textarea {
    width: 100%;
    font-size: 12pt;
    color: #19647E;
    border: none !important;
    margin: 0 0 5px;
    padding: 10px;
    background: #e4f4f2;
    height: 150px; }
  #submit-form button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #28AFB0;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 900; }
  #submit-form button[type="submit"]:hover {
    background: #19647E;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; }
  #submit-form ::-webkit-input-placeholder {
    color: #19647E; }
  #submit-form :-moz-placeholder {
    color: #19647E; }
  #submit-form ::-moz-placeholder {
    color: #19647E; }
  #submit-form :-ms-input-placeholder {
    color: #19647E; }

.dashboard-4 {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1px;
  grid-template-areas: "tab-1 tab-2 tab-3 tab-4"; }
  .dashboard-4 button {
    font-size: 15pt;
    font-weight: 400;
    padding: 20px 30px; }
  .dashboard-4 .tab-1 {
    grid-area: tab-1; }
  .dashboard-4 .tab-2 {
    grid-area: tab-2; }
  .dashboard-4 .tab-3 {
    grid-area: tab-3; }
  .dashboard-4 .tab-4 {
    grid-area: tab-4; }

.experience-info {
  display: none; }

.education-info {
  display: none; }

.awards-info {
  display: none; }

.footer {
  background-color: #19647E;
  margin: auto;
  text-align: center;
  color: white;
  padding: 30px; }
  .footer a {
    font-size: 15pt;
    text-decoration: none;
    color: white; }
  .footer a:hover {
    color: #28AFB0;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; }

.login-reg-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 200px 0; }

.reg-tab {
  font-weight: 900;
  color: #19647E;
  border-bottom: 30px solid #F9F9F9;
  border-right: 30px solid transparent;
  height: 0;
  padding: 10px;
  width: 120px;
  display: inline-block; }
  .reg-tab :hover {
    cursor: pointer; }

.login-tab {
  font-weight: 900;
  color: white;
  border-bottom: 30px solid #28AFB0;
  border-right: 30px solid transparent;
  height: 0;
  padding: 10px;
  width: 120px;
  display: inline-block; }
  .login-tab :hover {
    cursor: pointer; }

.reg {
  background: #F9F9F9;
  padding: 25px; }

.login {
  background: #28AFB0;
  padding: 25px;
  display: none; }

@media screen and (max-width: 900px) {
  .dashboard-5 {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "tab-1" "tab-2" "tab-3" "tab-4" "featuredprojects" "tab-5" "schedule"; }

  .dashboard-4 {
    grid-template-columns: 100%;
    grid-template-areas: "tab-1" "tab-2" "tab-3" "tab-4"; }

  .appointments-tab {
    margin-top: 50px; }

  .featured-projects, .favorite-projects, .my-projects, .my-groups {
    margin: auto 0;
    padding: 5%;
    grid-area: featuredprojects;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    overflow: hidden; }

  .favorite-projects {
    display: none; }

  .my-projects {
    display: none; }

  .my-groups {
    display: none; }

  .featured-mentors {
    margin: auto;
    padding: 0;
    background-size: contain; }

  .three-columns {
    margin: auto 0;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    overflow: hidden; }

  .submit-container #submit-form, .page-introduction #submit-form {
    padding: 0; }

  .login-reg-container {
    width: 90%; } }

/*# sourceMappingURL=style.css.map */
