@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
$font: 'Raleway', sans-serif;
$dark-orange: #E56D13;
$light-orange: #EE964B;
$dark-green: #19647E;
$torquoise: #28AFB0;
$light-green: #5AAA95;
$deep-gray: #3F3e3F;
$input-bg: #e4f4f2;
$light-gray: #dee0e0;


*{

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  a{
    text-decoration: none;
    color: inherit;
  }
}
body {
  margin: 0;
  width:100%;
  font-family: $font;

}



.container {
  max-width: 1920px;
  margin: 0;
}
//BUTTONS
.orange-edge {
  background-color: $light-orange;
  color: white;
  font-weight: 900;
  font-size: 15pt;
  border: none;
  padding: 10px 30px;
  border: 0px;
}

.orange-edge:hover {
  background-color: $dark-orange;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}


.green-round{
  @extend .orange-edge;
  background-color: $light-green;
  border-radius: 50px;
}

.green-round:hover{
  background-color: $dark-green;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}



//TITLES
.orange-title{
  display: inline-block;
  background-color: white;
  color: $light-orange;
  margin: 30px;
  padding: 10px 20px;
  text-align: center;
}
// NAVBAR Styling

.navbar {
  z-index: 3;
  margin: 0 auto;
  padding: 20px 30px;
  font-family: $font;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background: -webkit-linear-gradient(bottom, rgba(25,100,126,0), rgba(255,100,126,1));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(25,100,126,0), rgba(25,100,126,1));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(25,100,126,0), rgba(25,100,126,1));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(25,100,126,0), rgba(25,100,126,1));
  /* Standard syntax (must be last) */
  display: grid;
  grid-template-columns: 40% 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "headerleft headerright search";

  a {
    display: inline;
    float: right;
    vertical-align: middle;
    line-height: 20px;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  a:hover {
    font-weight: 900;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  a.active {
    color: $torquoise;
  }
}

.form {
  width: 200px;
  overflow: hidden;
  height: 35px;
  padding: 2px 5px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);

  input {
    font-size: 12pt;
    color: white;
    vertical-align: middle;
    border: none;
    width: 75%;
    padding: 0;
    background: Transparent !important;
  }

  button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    vertical-align: middle;

    img {
      width: 20px;
      display: inline;
      vertical-align: middle;
    }
    :hover{
      cursor: pointer;
    }
  }

  -webkit-touch-callout: none;
  ::-webkit-input-placeholder {
  color: white;
  }

  :-moz-placeholder {
  color: white;
  }

  ::-moz-placeholder {
  color: white;
  }

  :-ms-input-placeholder {
  color: white;
  }
}

.logo {
  grid-area: headerleft;
  background-image: url("../images/logo_1.png");
  height: auto;
  background-repeat: no-repeat;
  background-size: auto;


}

.big-logo{
  img{
    width: 500px;
  }
}

.navbar-right {
  grid-area: headerright;
}

.form {
  grid-area: search;
}

// MOBILE Navbar Styling

#menuToggle{
  display: none;
  position: relative;
  float: right;
  top: 10px;


  z-index: 1;

  -webkit-user-select: none;
  user-select: none;

input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2;



}



span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #fff;
  border-radius: 3px;

  z-index: 1;

}
}

#mobileMenu{
display: none;
margin: 0 auto;
padding: 95px 0px 0px 0px;
position: fixed;
width: 100%;
background-color: Transparent;
z-index: 2;

button {
  width: 100%;
  border: none;
  cursor: pointer;
  background: $torquoise;
  color: #FFF;
  margin: 0 auto;
  padding: 10px;
  font-size: 15pt;
  font-weight: 900;
  border-bottom: 2px solid white;

}

  button:hover{
    background: $dark-green;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

}

#homeMenu{
  display: none;
  margin: 0 auto;
  position: fixed;

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $dark-green;
  }
  li {
    float: left;

  a{
      display: block;
      color: white;
      text-align: center;
      padding: 14px 15px;
      text-decoration: none;
    }
    :hover{
      background: $torquoise;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
}
#closeHomeMenu{
  a:hover{
    background: $dark-orange;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
}

}

@media screen and (max-width:1024px) {
  .navbar{
    height: 95px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "headerleft headerright";
    background:#28AFB0;
  }

  #menuToggle{
    display: block;
  }
  .form{
    display: none;
  }
  .desktop-menu{
    display:none;
  }
  .logo{
    background-image: url("../images/PG-small-logo.png");
    background-size: auto;

  }


}


//MAIN Area Styling
.main {
  margin: 0;
  background-image: url("../images/girl-garden.jpeg");
  height: 100%;
  background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  padding: 200px 10px;
  width: 100%;
  text-align: center;
  font-family: $font;
  color: white;

  h1 {
    font-size: 60pt;
    line-height: 70px;
    text-shadow: 5px 7px 40px #000000;
  }

  p {
    font-size: 20pt;
    line-height: 20px;
    text-shadow: 3px 4px 20px #000000;
  }
}

//DASHBOARD Styling

.dashboard-5 {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 1px;
  grid-template-areas: "tab-1 tab-2 tab-3 tab-4 tab-5" "featuredprojects featuredprojects featuredprojects featuredprojects schedule";

  button {
    @extend .orange-edge;
    font-size: 15pt;
    font-weight: 400;
    padding: 20px 30px;

  }


.tab-1 {
  grid-area: tab-1;
}

.tab-2 {
  grid-area: tab-2;
}

.tab-3 {
  grid-area: tab-3;
}

.tab-4 {
  grid-area: tab-4;
}

.tab-5{
  grid-area: tab-5;
}

}
.schedule-tab {
  background-color: $light-green;
  text-align: center;
  color: white;
  padding: 10px 20px;

  h1 {
    font-size: 15pt;
  }
  grid-area: schedule;
}


//FEATURED PROJECTS

.featured-projects {
  position: relative;
  width: 100%;
  padding: 40px 60px 0px 60px;
  grid-area: featuredprojects;
  grid-column-end: span 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  height: 100%;
}

.favorite-projects{
  @extend .featured-projects;
  display: none;
  background-color: white;

}

.non-user-projects{
  margin: auto;
  width: 100%;
  background-size: cover;
  text-align: center;
}

.my-projects{
  @extend .featured-projects;
  display: none;
  background-color: white;

}

.my-groups{
  @extend .featured-projects;
  display: none;
  background-color: white;

}


.project {
  width: 100%;
  border: 3px solid $light-green;
  margin: auto;
  color: $deep-gray;
  text-align: left;


  .fave-icon {
    background-color: Transparent;
    border: none;
    padding: 0;
    background-image: url("../images/gray_fave.png");
    height: 40px;
    width: 40px;
  }

.fave-icon:hover{
  cursor: pointer;
  background-image: url("../images/orange_fave.png");
  background-color: Transparent;

}

.fave-icon-active{
  border: none;
  padding: 0;
  height: 40px;
  width: 40px;
  background-image: url("../images/orange_fave.png");
  background-color: Transparent;

}


  .project-head {
    margin: auto;
    padding: 20px 15px;
    color: white;
    font-size: 15pt;
    text-shadow: 3px 4px 20px #000000;
    background-size: cover;
  }

  .project-body {
    margin: auto;
    padding: 20px 15px;


  }
}

.center{
  text-align: center;
  color:$dark-green;
  font-size: 15pt;
  font-weight: 900;
}



// FEATURED MENTORS

.featured-mentors{
  margin: auto;
  width: 100%;
  background-image: url('../images/stripes-bg-01.png');
  background-size: cover;
  text-align: center;
}
.three-columns{
  margin: auto;
  padding: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 100px;

}

.mentor{
  margin: auto 0;
  @extend .project;
  background-color: white;
  text-align: left;
  padding: 40px 10px;

}

.mentor-picture{
  background-size: cover;
  border: 3px solid $light-green;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin:auto;
}



//SUBMIT A NEW PROJECT Styling

.submit-container{
margin: 0;
height: 100%;
padding: 100px 40px;
width: 100%;
font-family: $font;

h1{
  font-size: 30pt;
  color: $dark-green;

}

h3 {
  color: $torquoise;
}

p {
  font-size: 15pt;
  color: $dark-green;
}
}

.new-form{


  margin: 0 auto;
  width: 100%;
  max-width: 700px;

  .image{
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: $light-gray;
    border-radius: 100%;
  }

}

#submit-form{

  padding: 25px;
  margin: 0 auto;


  // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  label{
    font-weight: 900;
    color: $dark-green;
    display: block;
  }
  fieldset{
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100;
  }

  input[type="text"], input[type="url"], input[type="date"], input[type="email"],input[type="password"], select{
    width: 100%;
    border: none !important;
    background: $input-bg;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 12pt;
    color: $dark-green;
    height: 40px;
  }



  textarea {
  width: 100%;
  font-size: 12pt;
  color: $dark-green;
  border: none !important;
  margin: 0 0 5px;
  padding: 10px;
  background: $input-bg;
  height: 150px;
  }


  button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: $torquoise;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: 900;
  }

  button[type="submit"]:hover {
  background: $dark-green;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  }


  ::-webkit-input-placeholder {
  color: $dark-green;
  }

  :-moz-placeholder {
  color: $dark-green;
  }

  ::-moz-placeholder {
  color: $dark-green;
  }

  :-ms-input-placeholder {
  color: $dark-green;
  }

}



//SIGN UP TO BE A MENTOR styling

.page-introduction{
  @extend .submit-container;
}
.dashboard-4 {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1px;
  grid-template-areas: "tab-1 tab-2 tab-3 tab-4";

  button {
    @extend .orange-edge;
    font-size: 15pt;
    font-weight: 400;
    padding: 20px 30px;

  }


.tab-1 {
  grid-area: tab-1;
}

.tab-2 {
  grid-area: tab-2;
}

.tab-3 {
  grid-area: tab-3;
}

.tab-4 {
  grid-area: tab-4;
}

}
.experience-info{
  display: none;
}
.education-info{
  display: none;
}

.awards-info{
  display: none;
}







//FOOTER Styling
.footer{
  background-color: $dark-green;
  margin: auto;
  text-align: center;
  color: white;
  padding: 30px;
  a{
    font-size: 15pt;
    text-decoration: none;
    color:white;
  }
  a:hover{
    color: $torquoise;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

}

//LOGIN-REGISTRATION Styling

.login-reg-container{
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 200px 0;

}
.reg-tab{
  font-weight: 900;
  color: $dark-green;
  border-bottom: 30px solid #F9F9F9;
	border-right: 30px solid transparent;
	height: 0;
  padding: 10px;
	width: 120px;
  display: inline-block;

  :hover{
    cursor: pointer;
  }
}
.login-tab{
  font-weight: 900;
  color: white;
  border-bottom: 30px solid $torquoise;
	border-right: 30px solid transparent;
	height: 0;
  padding: 10px;
	width: 120px;
  display: inline-block;
  :hover{
    cursor: pointer;
  }
}


.reg{
  background: #F9F9F9;
  padding: 25px;
}

.login{
  background: $torquoise;
  padding: 25px;
  display: none;
}

@media screen and (max-width:900px) {
  .dashboard-5{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "tab-1"
    "tab-2"
    "tab-3"
    "tab-4"
    "featuredprojects"
    "tab-5"
    "schedule"

  }

  .dashboard-4{
    grid-template-columns: 100%;
    grid-template-areas:
    "tab-1"
    "tab-2"
    "tab-3"
    "tab-4"
  }

  .appointments-tab{
    margin-top: 50px;
  }

  .featured-projects {
    margin:auto 0;
    padding: 5%;
    grid-area: featuredprojects;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    overflow: hidden;
  }
.favorite-projects{
  display: none;
}
.my-projects{
  display:none;
}
.my-groups{
  display:none;
}
.featured-mentors{
  margin: auto;
  padding: 0;
  background-size: contain;
}
  .three-columns{
    margin:auto 0;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    overflow: hidden;

  }
.submit-container{


  #submit-form{
    padding:0;
  }
  }
  .login-reg-container{
    width: 90%;
  }
}
