@import url("https://fonts.googleapis.com/css?family=Raleway:400,900");
* a {
  text-decoration: none;
  color: inherit; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden; }

.container {
  max-width: 1920px;
  margin: 0; }

.orange-edge, .green-round {
  background-color: #EE964B;
  color: white;
  font-weight: 900;
  font-size: 15pt;
  border: none;
  padding: 10px 30px;
  border: 0; }

.orange-edge:hover, .green-round:hover {
  background-color: #E56D13;
  cursor: pointer; }

.green-round {
  background-color: #5AAA95;
  border-radius: 50px; }

.green-round:hover {
  background-color: #19647E; }

.fa {
  padding: 10px 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border: #EE964B 2px solid;
  margin: 2px;
  color: #EE964B; }

.fa:hover {
  color: white;
  background: #E56D13; }

.orange-title {
  display: inline-block;
  background-color: white;
  color: #EE964B;
  margin: 30px;
  padding: 10px 20px;
  text-align: center; }

.navbar {
  z-index: 3;
  margin: 0;
  padding: 20px 30px;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background: -webkit-linear-gradient(bottom, rgba(25, 100, 126, 0), #ff647e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(25, 100, 126, 0), #19647e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(25, 100, 126, 0), #19647e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(25, 100, 126, 0), #19647e);
  /* Standard syntax (must be last) */
  display: grid;
  grid-template-columns: 50% 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "headerleft headerright search"; }
  .navbar a {
    display: inline;
    float: right;
    vertical-align: middle;
    line-height: 20px;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; }
  .navbar a:hover {
    font-weight: 900; }
  .navbar a.active {
    color: #28AFB0; }

.form {
  width: 170px;
  overflow: hidden;
  height: 25px;
  padding: 5px 10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0); }
  .form input [type=text] {
    color: white;
    vertical-align: middle;
    border: Transparent;
    width: 45%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    vertical-align: middle; }
  .form button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    vertical-align: middle; }
    .form button img {
      width: 20px;
      display: inline;
      vertical-align: middle; }
  .form button:hover {
    cursor: pointer; }

.logo {
  grid-area: headerleft; }

.big-logo img {
  width: 500px; }

.navbar-right {
  grid-area: headerright; }

.form {
  grid-area: search; }

#menuToggle {
  display: none;
  position: relative;
  top: 10px;
  right: -90%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    -webkit-touch-callout: none; }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  #menuToggle span:first-child {
    transform-origin: 0 0; }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0 100%; }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px); }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px); }
  #menuToggle input:checked ~ ul {
    transform-origin: 0 0;
    transform: translate(-100%, 0); }

#mobileMenu {
  background-color: #19647E;
  transform: translate(80%, 0);
  -webkit-font-smoothing: antialiased;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 2;
  list-style-type: none; }
  #mobileMenu li {
    display: inline-block;
    padding: 10px 15px;
    font-size: 22px;
    background: #EE964B;
    margin: auto; }

@media screen and (max-width: 1024px) {
  #menuToggle {
    display: block; }

  .navbar {
    height: auto; }

  .form {
    display: none; }

  .desktop-menu {
    display: none; } }
.submit-project {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  padding: 40px; }
  .submit-project .submit-form h1 {
    font-size: 30pt;
    color: #19647E; }
  .submit-project .submit-form h3 {
    color: #28AFB0; }
  .submit-project .submit-form p {
    font-size: 15pt;
    color: #19647E; }

@media screen and (max-width: 900px) {
  .submit-project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "col1" "col2"; } }
.footer {
  background-color: #19647E;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
  color: white;
  padding: 30px; }
  .footer a {
    font-size: 15pt;
    text-decoration: none;
    color: white; }
  .footer a:hover {
    color: #28AFB0; }

/*# sourceMappingURL=submit-project.css.map */
